@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=Creepster&family=Figtree:ital,wght@0,300..900;1,300..900&family=Nosifer&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&family=Rubik+Wet+Paint&family=Young+Serif&display=swap');

body{
    --bg: var(--yellow);

}

:root{
    --yellow: hsl(47, 88%, 63%);
}

body{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bg);
}

.cartao{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
    width: 338px;
    text-align: left;
    position: absolute;
    left: 37%;
    font-family: 'Figtree', sans-serif;
}

.img{
    border-radius: 12px;
}

.botao{
    border-radius: 5px;
    padding: 8px;
    width: 95px;
    background-color: var(--bg);
}

.data{
    color: black;
    font-size: 15px;
}

.titulo{
    font-size: 23px;
}

.texto{
    color: rgb(128, 125, 125);
}

.user{
    display: flex;
    flex-direction: row;
}

.avatar{
    width: 50px;
}

.nome{
    margin-left: 10px;
}